@charset "utf-8";
/***预定义***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, 
nav, output, ruby, section, summary, time, mark, audio, video,select, option, file, button
{ padding: 0; margin: 0; font-family: 微软雅黑, 黑体;}
img{border:none;}

/*主体规范*/
body{/*background:url(../images/tit/bg_Index.png) no-repeat center top;*/ font-size:14px; overflow-x:hidden;} 
/*#web_bg{position:absolute; width:100%; height:100%; z-index:-100; border:none;}*/
#container{width:100%; margin:0 auto;}
#main{width:990px; margin:0 auto;}

/*头部样式*/
#header {
    width: 100%;
    min-width: 1366px;
    height: 7em;
    margin: 0 auto;
    background: url('../images/tit/hrader.jpg') no-repeat;
    background-size:100% 100%;
}
.tit_logo{width:770px; height:65px; float:left; margin-top:1.5em; margin-left:240px; background: url(../images/tit/headerlogo.png) no-repeat;}
.tit_right{height:50px; float:left; margin-top:1.4em; margin-left:7em;}
.tit_right a{text-decoration:none; color:#fff; display:block; float:right;}
.tit_right a:hover{color:#567fe6;}

/*搜索栏*/

.searchform {
    width: 12em;
    height: 1.6em;
    background: url('../images/tit/searchbg.png')   no-repeat;
    background-size:cover;
    margin-top: 2em;
    float: left;

}
 .searchform input {
        width: 10em;
        height: 1.6em;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color:#fff;
        text-indent:0.3em;
        
 }
.searchform img{float:right;  margin-right:0.3em;  margin-top:0.2em; width:1.1em; height:1.2em;  cursor:pointer;}
.comfirm {
    width: 2.6em;
    height: 1.3em;
    margin-left:0.4em;
    margin-top: 2.1em;
    float: left;

}
.comfirm img{
    width: 100%;
    height: 100%;
    cursor:pointer;
}
/*12个导航条*/
#nav {
    width: 100%;
    min-width: 1366px;
    background: url('../images/tit/narbar.jpg') #000 no-repeat;
    background-size: cover;
    height: 2.4em;  
}
#nav ul li{list-style:none; float:left; width:8.33%; height:2.2em; line-height:2.2em; margin:0; text-align:center; /*border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;*/ font-size:16px;font-family:'Microsoft YaHei UI';}
#nav ul li:hover{background-color:#740f0f;}
#nav ul li a{text-decoration:none; color:#000; display: block;}
#nav ul li a:hover{color:#fff}



/*3个悬停按钮*/
.hover_btn{position:fixed; right:0; top:180px; width:94px; height:268px; }
.hover_btn ul li{list-style:none; margin-bottom:14px; text-indent: -9999px; overflow:hidden;}
.hover_btn ul li a{width:80px; height:80px; display: block;}
.hover_btn ul li a.zxtg{background: url(../images/hover_btn/zaixiantougao.png) no-repeat; }
.hover_btn ul li a.bzxx{background: url(../images/hover_btn/buzhangxinxiang.png) no-repeat; }
.hover_btn ul li a.fhzy{background: url(../images/hover_btn/fanhuizhuye.png) no-repeat; }
.hover_btn ul li a.zxtg:hover{background: url(../images/hover_btn/zaixiantougao_hover.png) no-repeat;}
.hover_btn ul li a.bzxx:hover{background: url(../images/hover_btn/buzhangxinxiang_hover.png) no-repeat;}
.hover_btn ul li a.fhzy:hover{background: url(../images/hover_btn/fanhuizhuye_hover.png) no-repeat;}

/*部长信箱弹出层*/
#bg{position:fixed; top:0; left:0; width:100%; height:100%; background-color:#000; opacity:0.5; filter: Alpha(opacity=50); z-index:1000; display:none;}
#mailbox{position:fixed; top:28%; left:34%; width:420px; height:290px; background-color:rgb(245,245,245); z-index:1200; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; display:none;}
.mailtop{height:60px; width:100%; background-color:#ccc; border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -ms-border-radius:10px 10px 0 0; -o-border-radius:10px 10px 0 0;}
.mailtop img{display:block; float:right; margin:16px 20px; cursor:pointer;}
.mailcont p:first-of-type{font-size:20px; padding:0 30px; margin:25px 0 15px;}
.mailcont p:last-of-type{font-size:16px; font-weight:700; padding:0 20px; text-align:center;}
.mailcont button{border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:10px; background-color:#1565c0; color:#fbfbfb; border:solid 1px #ddd; font-size:16px; font-family:"微软雅黑"; padding:10px 50px; margin:30px 125px; outline:none; cursor:pointer;}
.mailcont button:hover{background-color:#1e88e5;}

/*当前位置*/
#location{width:990px; height:30px; line-height:30px; margin-top:60px; background-color:#000000; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; font-size:19px; color:#fff;}
#location span.here{margin-left:10px;}
#location a{color:#fff; text-decoration:none;}
#location a:hover{color:red;}

/*尾部样式*/
#footer{width:100%; height:150px; margin-top:40px; background-color:#474e62;}
.foot_main, .foot_one, .foot_two{width:990px;}
.foot_main{height:150px; margin:0 auto; }
.foot_one{margin-left:284px;}
.foot_one ul li{float:left; list-style:none; width:90px; height:30px; color:#fff; font-size:14px; font-weight:bolder; margin-top:28px;}
.foot_one ul li a{ color:#fff; text-decoration:none;}
.foot_one ul li a:hover{color:#567fe6; text-decoration:underline;}
.foot_one ul li span{padding-left:15px;}
.foot_two{float:left; margin-top:30px; }
.foot_two p{font-size:12px; color:#fff; text-align:center;}